{"parent.filenames"         ["gossamer/core/webapp-context.edn"]
 :app/cli-launch-commands   {"purge"   {:doc     "Purge soft-deleted items"
                                        :launchers [demo.todomvc.command/launcher-purge-deleted]}}
 :app/init-inducers         [demo.todomvc.init/info-init
                             demo.todomvc.init/db-conn-init
                             demo.todomvc.init/routes-init]
 ;;:bract.ring/server-starter bract.ring.server/start-aleph-server
 :bract.ring/server-starter bract.ring.server/start-http-kit-server
 ;;:bract.ring/server-starter bract.ring.server/start-immutant-server
 ;;:bract.ring/server-starter bract.ring.server/start-jetty-server
 }
