{"parent.config.filenames" "baseconfig.edn"
 "dev-inducers"            [(bract.core.inducer/config-hook               ; record the config
                              demo.todomvc.test-util/update-config!)
                            bract.core.dev/record-context!                ; record the context for dev workflow
                            ]
 "minify.js.file" false}