{"parent.filenames" ["baseconfig.edn" "bract/ring/devdelta.edn"]
 "dev.inducers"     [;; record the context for dev workflow
                     bract.core.dev/record-context!]
 "minify.js.file"   false}